{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CDN  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom CSS  -->
  <link rel="stylesheet" href="{% static 'story_3/main.css' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">

  <!-- Title block  -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Nav -->
  <nav class='d-flex align-items-center'>
    <div class="brand d-flex align-items-center">
      <h1>Hanif</h1>
    </div>
    <div class='links d-flex'>
      <a class="nav-item" href='/'>
        Profil
      </a>
      <a class="nav-item" href='/blog'>
        Blog
      </a>
    </div>
  </nav>
  <div class='mobile-nav d-flex justify-content-center'>
    <div class='link-container d-flex justify-content-center align-items-center'>
      {% block mobile_sidebar %}{% endblock %}
    </div>
  </div>

  <div class="main-container">
    <div class="scroll-container">
      <div class="sidebar d-none d-lg-block">
        {% block sidebar %}{% endblock %}
      </div>
      <div class='content'>
        {% block content %}{% endblock %}
      </div>
      <div class="footer d-flex flex-column justify-content-between">
        <div class="media-sosial">
          <h1>Media Sosial</h1>
          <div class="media-sosial-item">
            <img src="{{ line_icon }}" alt="">
            <h2>audahaudah</h2>
          </div>
          <div class="media-sosial-item">
            <img src="{{ ig_icon }}" alt="">
            <h2>@audah</h2>
          </div>
          <div class="media-sosial-item">
            <img src="{{ gmail_icon }}" alt="">
            <h2>hanif.arkan@ui.ac.id</h2>
          </div>
        </div>
        <h1 class="credit">Hanif Arkan Audah©2020</h1>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
  const navItems = document.getElementsByClassName('nav-item')
  const clearActive = () => {
    navItems[0].classList.remove('active')
    navItems[1].classList.remove('active')
  }
  const path = window.location.pathname
  if (path === "/") {
    clearActive()
    navItems[0].classList.add('active')
  } else if (path === "/blog/") {
    clearActive()
    navItems[1].classList.add('active')
  }
</script>
{% block script %}{% endblock %}
</html>