{% extends 'story_3/base.html' %}
{% block title %}
  Blog
{% endblock %}
{% block content %}
<div id="blog-container">
  <!-- main title -->
  <div class="title-container">
    <h1 id='tentang-saya' class="title">Blog</h1>
    <div class="underline"></div>
  </div>

  <div class="card my-4">
    <h5 class="card-header">
      Hobi
    </h5>
    <div class="card-body">
      <p class="card-text">Saya memiliki hobi untuk bersepeda saat pagi hari. Selain itu saya juga gemar berenang, tetapi sekarang saya jarang melakukan kegiatan tersebut karena rasa pandemi dan rasa malas.</p>
    </div>
  </div>

  <div class="card my-4">
    <h5 class="card-header">
      Pengalaman Unik
    </h5>
    <div class="card-body">
      <p class="card-text">Sewaktu kecil saya tinggal bersama nenek di kampung. Tiap pagi selalu ada penjual yang berkelilingan dan mencari anak-anak untuk membeli barang jualannya. Suatu hari saya mengunjungi salah satu penjual dan melihat-lihat produk yang dijualnya. Ketika saya sedang asyik melihat barang jualan, ada seekor angsa yang mematuk punggung saya. </p>
    </div>
  </div>

  <!-- Messages -->
  <div class="section-title d-flex align-items-end">
    <div class="sideline"></div>
    <h1 id='pengalaman'>Tingalkan Pesan!</h1>
  </div>

  {% if notif != '' %}
    <div class="alert alert-success" >{{ notif }}</div>
  {% endif %}
  <form action="/blog/" method="POST" class='mb-3'>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <label for="exampleInputEmail1">Display Name</label>
      <input type="text" placeholder="Insert display name" class="form-control" id="exampleInputEmail1" name="user" required>
      <small id="emailHelp" class="form-text text-muted">Isi display name yang sopan ya</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Message</label>
      <input type="text" placeholder="Insert message" class="form-control" id="exampleInputPassword1" name="message" required>
    </div>
    <button type="submit" class="btn btn-primary">Kirim</button>
  </form>

  <div class="section-title d-flex align-items-end">
    <div class="sideline"></div>
    <h1 id='pengalaman'>Daftar Pesan</h1>
  </div>

  <div class="message-list">
    {% for message in messages %}
      <div class="message-item">
        <h4>{{ message.user }}</h4>
        <p>{{ message.message }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}